<!DOCTYPE html>
<html>
<head>
  <title>Edit Book</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    .container {
      width: 50%;
      margin: 0 auto;
      margin-top: 10vh;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Edit Book</h1>

    <div class="d-flex justify-content-center">
 
      <form method="POST" action="/user/dashboard/edit/<%= book._id %>" class="table-responsive">
        <table class="table">
          <tr>
            <td>
              <label for="bookName">Book Name:</label>
            </td>
            <td>
              <input type="text" class="form-control" id="bookName" name="bookName" value="<%= book.name %>" required>
            </td>
          </tr>
          <tr>
            <td>
              <label for="author">Author:</label>
            </td>
            <td>
              <input type="text" class="form-control" id="author" name="author" value="<%= book.author %>" required>
            </td>
          </tr>
          <tr>
            <td>
              <label for="publishedYear">Published Year:</label>
            </td>
            <td>
              <input type="number" class="form-control" id="publishedYear" name="publishedYear" value="<%= book.publishedYear %>" required>
            </td>
          </tr>
          <tr>
            <td>
              <label for="storyline">Storyline:</label>
            </td>
            <td>
              <textarea class="form-control" id="storyline" name="storyline" required><%= book.storyline %></textarea>
            </td>
          </tr>
        </table>

        <div class="text-center">
          <button type="submit" class="btn btn-primary">Update</button>
          <a href="/user/dashboard" class="btn btn-secondary">Cancel</a>
        </div>
      </form>
    </div>
  </div>

  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
